.home {
  position: absolute;
  top: 18.5px;
  left: 154px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 121px;
  height: 33px;
}
.frootLoops,
.home,
.ourFood {
  text-decoration: none;
  color: inherit;
}
.ourFood {
  position: absolute;
  top: 18.5px;
  left: 340px;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 146px;
  height: 33px;
}
.frootLoops {
  flex: 1;
  position: relative;
  line-height: 25px;
}
.logo {
  position: absolute;
  top: 0;
  left: 551px;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-100);
  width: 109px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-mid);
  box-sizing: border-box;
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-white);
}
.contactUs,
.ourStory {
  text-decoration: none;
  position: absolute;
  letter-spacing: 0.05em;
  color: inherit;
  display: inline-block;
}
.ourStory {
  top: 22.5px;
  left: 725px;
  line-height: 25.33px;
  min-width: 129px;
}
.contactUs {
  top: 18.5px;
  left: 912px;
  width: 163px;
  height: 33px;
}
.frootloops,
.frootloops1,
.frootloops2 {
  margin: 0;
}
.frootloopsFrootloopsFrootlooContainer {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 240px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.coffeebean41Icon,
.coffeebean42Icon {
  z-index: 2;
  object-fit: contain;
  position: absolute;
}
.coffeebean41Icon {
  height: 205px;
  width: 216px;
  margin: 0 !important;
  top: 215px;
  right: -76px;
}
.coffeebean42Icon {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  transform: scale(1.144);
}
.wrapperCoffeebean42 {
  height: 220px;
  width: 209px;
  position: absolute;
  margin: 0 !important;
  top: 9px;
  left: -193px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.coffeebean11Icon,
.coffeebean13Icon {
  height: 170.8px;
  width: 154.9px;
  position: absolute;
  margin: 0 !important;
  bottom: -42.8px;
  left: 316px;
  object-fit: contain;
  z-index: 2;
}
.coffeebean13Icon {
  height: 279.2px;
  width: 255.2px;
  bottom: -31.2px;
  left: -128px;
}
.frootloopsFrootloopsFrootlooParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  max-width: 100%;
}
.thereAreMore {
  margin: 0;
  flex: 1;
  position: relative;
  line-height: 30px;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.coffeeChild,
.frameChild {
  position: absolute;
  border-radius: 50%;
}
.frameChild {
  top: 24px;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
  width: 647px;
  height: 647px;
}
.coffeeChild {
  top: 404.4px;
  left: 21.8px;
  filter: blur(50px);
  background-color: var(--color-gray-200);
  width: 255.1px;
  height: 83.9px;
}
.coffee21Icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 299.3px;
  height: 476.6px;
  object-fit: cover;
  z-index: 1;
}
.start {
  margin: 0;
}
.yourDay {
  margin: 0;
  color: var(--color-crimson);
}
.onThe {
  margin: 0;
}
.rightFroot {
  margin: 0;
  color: var(--color-crimson);
}
.startYourDayContainer {
  margin: 0;
  position: absolute;
  top: 12px;
  left: -361px;
  font-size: inherit;
  line-height: 45px;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 370px;
  height: 180px;
  z-index: 3;
}
.coffee {
  position: absolute;
  top: 74px;
  left: 170px;
  width: 299.3px;
  height: 488.3px;
  z-index: 2;
}
.coffeebean14Icon,
.coffeebean43Icon {
  position: absolute;
  top: 0;
  left: 554px;
  width: 200.6px;
  height: 221.2px;
  object-fit: contain;
  z-index: 3;
}
.coffeebean43Icon {
  width: 100%;
  height: 100%;
  z-index: 2;
  left: 0;
  transform: scale(1.186);
}
.wrapperCoffeebean43 {
  position: absolute;
  top: 441px;
  left: 545px;
  width: 161px;
  height: 169px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.description,
.ellipseParent {
  margin: 0 !important;
  position: absolute;
}
.ellipseParent {
  height: 671px;
  width: 754.6px;
  right: -610.6px;
  bottom: -305px;
  font-size: var(--font-size-21xl);
  font-family: var(--font-black-han-sans);
}
.description {
  width: 335px;
  top: 286px;
  left: 88px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-helvetica);
}
.buyNow {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 19px;
  font-family: var(--font-black-han-sans);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 89px;
}
.buy,
.storyContent {
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.buy {
  cursor: pointer;
  border: 0;
  padding: var(--padding-base) var(--padding-11xl);
  background-color: var(--color-gray-100);
  margin: 0 !important;
  bottom: 252px;
  left: 88px;
  border-radius: var(--br-xs);
  flex-direction: row;
  white-space: nowrap;
  z-index: 2;
}
.buy:hover {
  background-color: var(--color-dimgray-100);
}
.storyContent {
  top: 67px;
  left: 0;
  width: 100%;
  flex-direction: column;
  max-width: 100%;
  font-size: var(--font-size-276xl);
  color: var(--color-indianred-200);
  font-family: var(--font-bebas-neue);
}
.navigation {
  height: 787px;
  width: 1125px;
  position: relative;
  max-width: 100%;
}
.header {
  width: 1345px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) var(--padding-47xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-gray-100);
  font-family: var(--font-black-han-sans);
}
@media screen and (max-width: 1200px) {
  .header {
    padding-bottom: var(--padding-24xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 825px) {
  .frootloopsFrootloopsFrootlooContainer {
    font-size: var(--font-size-99xl);
    line-height: 144px;
  }
  .startYourDayContainer {
    font-size: var(--font-size-13xl);
    line-height: 36px;
  }
}
@media screen and (max-width: 450px) {
  .contactUs,
  .home,
  .ourFood,
  .ourStory {
    font-size: var(--font-size-base);
  }
  .frootloopsFrootloopsFrootlooContainer {
    font-size: var(--font-size-55xl);
    line-height: 96px;
  }
  .thereAreMore {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .startYourDayContainer {
    font-size: var(--font-size-5xl);
    line-height: 27px;
  }
  .header {
    padding-bottom: var(--padding-9xl);
    box-sizing: border-box;
  }
}
