.frootLoopsInstaBowls {
  margin: 0;
  align-self: stretch;
  position: relative;
  line-height: 30px;
}
.starIcon,
.starIcon1,
.starIcon2,
.starIcon3,
.starIcon4 {
  height: 19px;
  width: 19px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 19px;
}
.starIcon1,
.starIcon2,
.starIcon3,
.starIcon4 {
  width: 20px;
}
.starIcon4 {
  width: 19px;
}
.starContainer,
.starContainerWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.starContainer {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-11xs);
}
.starContainerWrapper {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.columnDivider {
  width: 71px;
  position: relative;
  line-height: 30px;
  font-weight: 700;
  display: inline-block;
  flex-shrink: 0;
}
.starColumnOneContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.productNameAndRating,
.starColumnsContainer {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.starColumnsContainer {
  flex-direction: row;
  padding: 0 var(--padding-25xl);
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-helvetica);
}
.productNameAndRating {
  flex-direction: column;
  gap: var(--gap-8xs);
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-crimson);
  font-family: var(--font-black-han-sans);
}
@media screen and (max-width: 450px) {
  .frootLoopsInstaBowls {
    font-size: var(--font-size-base);
    line-height: 24px;
  }
  .starColumnsContainer {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
